body {
    text-align: center;
    background-image: url("/img/homebg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 900px;
    width: 1600px;

}

.wrapper {
    display: flex;
    padding: 2rem;
    justify-content: space-around;
}

.content {
    background-color: #ffffffa6;
    padding:2rem;
    border-radius:10%
}

.bt_submit {
    border: 0px None #009933;
    color: White;
    background-color: #009933;
    font-weight: bold;
    border-radius: 8px;
    text-align: center;
}

.bt_cancel {
    color: White;
    background-color: #CC0000;
    border-style: None;
    font-weight: bold;
    height: 26px;
    width: 57px;
    border-radius: 8px;
    text-align: center;
}